.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(86, 86, 86);
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.menu {
  display: flex;
  margin-top: 30px;
}

.menu-list {
    list-style: none;
    margin: 0 20px;
  }

.wrapper {
  display: flex;
  
}

a {
  color: rgb(254, 254, 106);
  text-decoration: none;

}

a:hover{
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}